aiofiles==22.1.0
aioquic==0.9.25
aiosqlite==0.19.0
alembic==1.13.0
aniso8601==9.0.1
annotated-types==0.6.0
ansible==7.7.0
ansible-base==2.10.17
ansible-compat==4.1.10
ansible-core==2.15.8
ansible-lint==6.20.3
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.5.2
asn1crypto==1.4.0
asttokens==2.4.1
async-generator==1.10
attrs==23.1.0
Babel==2.13.1
backoff==2.2.1
bcc==0.18.0
beautifulsoup4==4.12.2
black==23.10.1
bleach==6.1.0
blinker==1.4
borgbackup==1.2.0
borgmatic==1.5.20
bracex==2.4
Brlapi==0.8.3
Brotli==1.0.9
certifi==2020.6.20
cffi==1.16.0
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.3.2
chrome-gnome-shell==0.0.0
cli-helpers==2.2.1
cliapp==1.20180812.1
click==8.0.3
cmdtest==0.32+git
codespell==2.2.6
colorama==0.4.4
coloredlogs==14.0
comm==0.1.4
command-not-found==0.3
configobj==5.0.6
croniter==2.0.1
cryptography==38.0.4
cupshelpers==1.0
dagster==1.5.13
dagster-cloud==1.5.13
dagster-cloud-cli==1.5.13
dagster-duckdb==0.21.13
dagster-duckdb-pandas==0.21.13
dagster-graphql==1.5.13
dagster-pipes==1.5.13
dagster-webserver==1.5.13
dbus-python==1.2.18
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
diff_cover==8.0.0
distlib==0.3.7
distro==1.7.0
docstring-parser==0.15
duckdb==0.9.2
entrypoints==0.4
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.18.1
filelock==3.13.1
Flask==2.2.5
fqdn==1.5.1
fsspec==2023.12.2
git-filter-repo==2.34.0
github3.py==4.0.1
gql==3.4.1
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.1
grpcio==1.60.0
grpcio-health-checking==1.60.0
h11==0.14.0
h2==4.1.0
hidpidaemon==18.4.6
hpack==4.0.0
html5lib==1.1
httplib2==0.20.2
httptools==0.6.1
humanfriendly==10.0
hyperframe==6.0.1
identify==2.5.31
idna==3.3
importlib-metadata==4.6.4
iniconfig==2.0.0
ipykernel==6.26.0
ipython==8.17.2
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-events==0.8.0
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core==5.5.0
jupyter_server==2.9.1
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
kaitaistruct==0.10
kernelstub==3.1.4
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
ldap3==2.9.1
llfuse==1.3.8
louis==3.20.0
lxml==4.9.4
macaroonbakery==1.3.1
Mako==1.3.0
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mechanize==0.4.7
mistune==3.0.2
mitmproxy==6.0.2
mitmproxy_wireguard==0.1.23
more-itertools==8.10.0
msgpack==1.0.3
msgpack-python==0.5.6
multidict==6.0.4
mypy==1.6.1
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
netaddr==0.8.0
netifaces==0.11.0
nodeenv==1.8.0
notebook==6.5.6
notebook_shim==0.2.3
numpy==1.26.2
oauthlib==3.2.0
outcome==1.1.0
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pathspec==0.11.2
pendulum==2.1.2
pex==2.1.154
pexpect==4.8.0
pgcli==3.3.1
pgspecial==1.11.10
platformdirs==3.11.0
pluggy==1.3.0
pop-transition==1.1.2
pre-commit==3.5.0
prometheus-client==0.18.0
prompt-toolkit==3.0.36
protobuf==4.25.0
psutil==5.9.4
psycopg2==2.9.2
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pydantic==2.5.2
pydantic_core==2.14.5
pydbus==0.6.0
pyfuse3==3.2.0
Pygments==2.16.1
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pylsqpack==0.3.18
pymacaroons==0.13.0
PyNaCl==1.5.0
pynvim==0.4.3
pyOpenSSL==22.1.0
pyparsing==2.4.7
pyperclip==1.8.2
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==7.4.2
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-gnupg==0.4.8
python-json-logger==2.0.7
python-xlib==0.29
pytz==2022.1
pytzdata==2020.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==24.0.1
questionary==2.0.1
ranger-fm==1.9.3
referencing==0.30.2
regex==2023.10.3
repolib==2.2.1
repoman==1.4.0
requests==2.31.0
requests-toolbelt==0.10.1
resolvelib==0.8.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.10.6
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
ruff==0.1.1
SecretStorage==3.3.1
Send2Trash==1.8.2
service-identity==24.1.0
sessioninstaller==0.0.0
setproctitle==1.2.2
shandy-sqlfmt==0.20.0
shellingham==1.5.4
simplejson==3.17.6
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.23
sqlfluff==2.3.4
sqlparse==0.4.2
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.34.0
subprocess-tee==0.4.1
systemd-python==234
tabulate==0.8.9
tblib==3.0.0
terminado==0.17.1
terminaltables==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toposort==1.10
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
trio==0.19.0
ttystatus==0.38
typer==0.9.0
types-beautifulsoup4==4.12.0.7
types-html5lib==1.1.11.15
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
tzdata==2023.4
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
universal-pathlib==0.1.4
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
urwid==2.1.2
uvicorn==0.24.0.post1
uvloop==0.19.0
vboxapi==1.0
virtualenv==20.24.6
wadllib==1.3.6
watchdog==3.0.0
watchfiles==0.21.0
wcmatch==8.5
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
wsproto==1.2.0
xdg==5
xkit==0.0.0
y-py==0.6.2
yamllint==1.32.0
yarl==1.9.4
ypy-websocket==0.8.4
zipp==1.0.0
zstandard==0.19.0
